<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://completelystableappfunctions20211114151206.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/194bd74e-a973-431c-9a80-69c3c8d52a4f/resourceGroups/depersio-test/providers/Microsoft.Web/sites/CompletelyStableAppFunctions20211114151206</ResourceId>
    <UserName>$CompletelyStableAppFunctions20211114151206</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://completelystableappfunctions20211114151206.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>